<!DOCTYPE html>
<html lang="fr">
<head>
    
    <title>{{ installation.name }}{% block title %}{% endblock %}</title>
    
    {% stylesheets  output="css/all.css" filter="cssrewrite"
          "bundles/chillmain/stylesheets/scratch.css"
          "bundles/chillmain/css/chillmain.css"
          "bundles/chillmain/js/lib_jquery_ui_pickadate/jquery-ui-1.10.3.pickadate.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    
    {% block css%}<!-- nothing added to css -->{% endblock %}

    {% javascripts output="js/libs.js"
        "bundles/chillmain/js/modernizr-2.6.2.min.js"
        "bundles/chillmain/js/jquery-2.0.2.min.js"
        "bundles/chillmain/js/gumby.js"
        "bundles/chillmain/js/gumby.init.js" 
        "bundles/chillmain/js/ui/*.js"
        "bundles/chillmain/js/lib_jquery_ui_pickadate/jquery-ui-1.10.3.pickadate.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}    

    <script type="text/javascript">
      $.datepicker.regional[ "fr" ]
      $(document).ready(function() {
          $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
          }, $.datepicker.regional["fr"]);
      });
    {% block js%}<!-- nothing added to js -->{% endblock %}
    </script>
    
</head>

<body>
    <header class="navigation container">
        <div class="nav grid-2">
            <ul id="navigation-menu">
                <li class="nav-link title"><a href="javascript:void(0)">Chill</a>
            </ul>
        </div>

        <div class="grid-4 navigation-search">
            <input type="search" placeholder="Enter Search" />
            <button class="button white border"><i class="fa fa-search"></i></button>
        </div>

        <div class="nav grid-6 text-right">
            <ul id="navigation-menu">
                <li class="nav-link more"><a href="javascript:void(0)">Sections</a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0)"><i class="fa fa-user"></i> Person</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar-o"></i>Report</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-gears"></i> Admin</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-upload"></i> Export</a></li>
                    </ul>
                </li>
                <li class="nav-link more"><a href="javascript:void(0)">app.user.username</a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0)"><i class="fa fa-gear"></i> Mon profil</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> Se déconnecter</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-question"></i> Aide</a></li>
                    </ul>
                </li>
                <li class="nav-link more"><a href="javascript:void(0)">FR</a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0)">FR</a></li>
                        <li><a href="javascript:void(0)">NL</a></li>
                        <li><a href="javascript:void(0)">EN</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    

    <div class="container">
        <div class="grid-8 centered">
            <input name="person" type="text" placeholder="Rechercher une personne">
        </div>
    </div>

    
    {# Flash messages ! 
    
    {% if (app.session.flashbag.get('success').length > 0 
         OR app.session.flashbag.get('danger').length > 0 
         OR app.session.flashbag.get('info').length > 0 ) %}#}
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="grid-8 centered success">
                <span>
                    {{ flashMessage|raw }}
                </span>
            </div>
        {% endfor %}
            
        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="grid-8 centered error">
                <span>
                    {{ flashMessage|raw }}
                </span>
            </div>
        {% endfor %}
            
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="grid-8 centered notice">
                <span>
                    {{ flashMessage|raw }}
                </span>
            </div>
        {% endfor %}    
    </div>
   {# {% endif %} #}
    
    <div class="container">
        <div id="wrapper" style="min-height: 1500px;">

            {% block content %}
                <h1>Title</h1>
                <p> Hello  ! </p>

                <div class="medium primary btn">
                    <a href="#">Primary</a>
                </div>
            {% endblock %}
        </div>
    </div> 

    <footer class="footer">
        <p>License AGPL</p>
    </footer>
</body>
</html>