<!DOCTYPE html>
<html lang="fr">
<head>
    
    <title>{{ installation.name }} - {% block title %}{% endblock %}</title>
    
    {% stylesheets  output="css/all.css" filter="cssrewrite"
          "bundles/chillmain/stylesheets/scratch.css"
          "bundles/chillmain/css/chillmain.css"
          "bundles/chillmain/css/pikaday.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    
    {% block css%}<!-- nothing added to css -->{% endblock %}

    {% javascripts output="js/libs.js"
        "bundles/chillmain/js/modernizr-2.6.2.min.js"
        "bundles/chillmain/js/jquery-2.0.2.min.js"
        "bundles/chillmain/moment.js"
        "bundles/chillmain/pikaday.js"
        "bundles/chillmain/plugins/pikaday.jquery.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}    
</head>

<body>
    <header class="navigation container">
        <div class="nav grid-2">
            <ul id="navigation-menu">
                <li class="nav-link nav-title"><a href="javascript:void(0)">Chill</a>
            </ul>
        </div>
        <div class="grid-4 navigation-search">
            <form action="{{ path('chill_person_search') }}" method="get">
                <input name="q" type="search" placeholder="{{ 'Chercher une personne'|trans }}" />
                <button type="submit" class="sc-button white border"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="nav grid-6 text-right">
            <ul id="navigation-menu">


                {{ chill_menu('section', {
                    'layout': 'ChillMainBundle::Menu/section.html.twig',
                }) }}

                {{ chill_menu('user', {
                    'layout': 'ChillMainBundle::Menu/user.html.twig',
                }) }}

                <li class="nav-link more"><a href="javascript:void(0)">FR</a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0)">FR</a></li>
                        <li><a href="javascript:void(0)">NL</a></li>
                        <li><a href="javascript:void(0)">EN</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    
    <div class="container content">
        {% block layout_content %}
            {# Flash messages ! #}
            <div class="container">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="grid-8 centered success">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}
                    
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="grid-8 centered error">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}
                    
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="grid-8 centered notice">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}    
            </div>

            {% block content %}

            <div class="container">
                <div class="grid-8 centered">
                    <form action="{{ path('chill_person_search') }}" method="get">
                        <input name="q" type="search" placeholder="{{ 'Nom / Prénom de la personne'|trans }}" />
                        <center>
                            <button type="submit" class="sc-button orange">{{ 'Chercher une personne'|trans }}</button>
                        </center>
                    </form>
                </div>
            </div>

            {{ chill_menu('homepage', {
                'layout': 'ChillMainBundle::Menu/homepage.html.twig',
            }) }}

            {% endblock %}
            
        {% endblock %}
    </div> 

    <footer class="footer">
        <p>License AGPL</p>
    </footer>

    <script type="text/javascript">
    $('.datepicker').pikaday({ 
        format: "D-M-YYYY",
        i18n: {
            previousMonth : 'Mois précédent',
            nextMonth     : 'Mois suivant',
            months        : ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            weekdays      : ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            weekdaysShort : ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam']
        }
    });
    {% block js%}<!-- nothing added to js -->{% endblock %}*/
    </script>

</body>
</html>