<!DOCTYPE html>
<html lang="fr">
<head>
    
    <title>{{ installation.name }}{% block title %}{% endblock %}</title>
    
    {% stylesheets  output="css/all.css" filter="cssrewrite"
          "bundles/clchillmain/css/gumby.css"
          "bundles/clchillmain/css/chillmain.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    
    {% block css%}<!-- nothing added to css -->{% endblock %}
    
    {% javascripts output="js/modernizer.js"  
          "bundles/clchillmain/js/modernizr-2.6.2.min.js" %}
    <script src="{{ asset_url }}" type="text/javascript" ></script>
    {% endjavascripts %}
    
    
</head>

<body>
    {# class for multicolumn in gumpy #}
    <div class="row">
        <nav id="header" class="navbar pretty" >
            
          
            <!--
                <div id="logo" class="six columns logo">

                </div>
   -->
                

                        

   
                <ul id="nav_list" class="six columns">
                    <li><a href="#">Bonjour {utilisateur}</a></li>
                    <li><a href="#"><i class="icon-users"></i></a></li>
                    <li><a href="#"><i class="icon-export"></i></a></li>
                    <li><a href="#"><i class="icon-gauge"></i></a></li>
                    <li><a href="#">Se déconnecter <i class="icon-logout"></i></a></li>
                </ul>
                         

                        

                    
                
                
          
            
      </nav>
    </div>
    
    
    
    <div  class="row">
       <div id="usefulbar" gumby-fixed="top" class="">

           <ul class="">
               
               <li id="search_element" class="">
                   <div id="search_form"  class="">
                        <div class="field append">
                                 <form method="GET" action="{{ path('chill_person_search') }}">
                                 <input type="search" name="q" 
                                        class="wide search input" placeholder="Rechercher">
                                 <button type="submit" class="medium primary btn">Go</button>
                                 </form>
                        </div>
                    </div>
                   
               </li>
               
               <li class="" >
                   <a href="#"><i class="icon-user-add menu"></i></a>
               </li>

               
           </ul>
           
           
             

            

 
       </div>
   
    </div>
    
    {# Flash messages ! 
    
    {% if (app.session.flashbag.get('success').length > 0 
         OR app.session.flashbag.get('danger').length > 0 
         OR app.session.flashbag.get('info').length > 0 ) %}#}
    <div class="row">
        
        <div id="flashMessages" class="push_three six columns">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="flash-notice success alert">
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            
            {% for flashMessage in app.session.flashbag.get('danger') %}
                <div class="flash-notice danger alert">
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="flash-notice info alert">
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
      
            
        </div>
        
    </div>
   {# {% endif %} #}
    
    <div class="row">
            <div id="wrapper" style="min-height: 1500px;">

                {% block content %}
                
                
                <h1>Title</h1>
                    <p> Hello  ! </p>

                    <div class="medium primary btn">
                    <a href="#">Primary</a>
  
  
                {% endblock %}
</div>
            </div>
    </div> 
        
        
        
    




{% javascripts output="js/all.js"
     "bundles/clchillmain/js/jquery-2.0.2.min.js"
     "bundles/clchillmain/js/gumby.js"

     "bundles/clchillmain/js/gumby.init.js" 
     "bundles/clchillmain/js/ui/*.js" %}
    <script gumby-debug src="{{ asset_url }}" type="text/javascript"></script>

{% endjavascripts %}

</body>


</html>