{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS, 
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{{ 'Login to %installation_name%' | trans({ '%installation_name%' : installation.name } ) }}</title>
        <style>
            label {
                width : 15em;
                text-align: right;
                display: inline-block;
            }
            input {
                
            }
            form {
                
            }
            button {
                margin-left: 15em;
                margin-top: 1em;
            }
        </style>
    </head>
    <body>
        <h1>{{ 'Welcome to %installation_name%' | trans({ '%installation_name%' : installation.name } ) }}</h1>

        <p>{{ error|trans }}</p>

        <form method="POST" action="{{ path('login_check') }}">
            <label for="_username">{{ 'Username'|trans }}</label>
            <input type="text" name="_username" value="{{ last_username }}" />
            <br/>
            <label for="_password">{{ 'Password'|trans }}</label>
            <input type="password" name="_password" />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <br/>
            <button type="submit" name="login">{{ 'Login'|trans }}</button>

        </form>

    </body>
</html>

