{% extends 'ChillMainBundle::Admin/layout_permissions.html.twig' %}

{% block title %}{{ 'Circle edit'|trans }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'Circle edit'|trans }}</h1>
    
    {{ form_start(edit_form) }}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.submit, { 'attr' : { 'class' : 'sc-button green' } } ) }}
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_scope') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
