{% extends 'ChillMainBundle::Admin/layout_permissions.html.twig' %}

{% block title %}{{ 'Circle creation'|trans }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'Circle creation'|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_scope') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
