{% extends 'ChillMainBundle::layout.html.twig' %}

{% block title %}{{ 'PermissionsGroup "%name%" edit'|trans( { '%name%': entity.name } ) }}{% endblock %}

{% block content -%}
    <h1>{{ 'PermissionsGroup "%name%" edit'|trans( { '%name%': entity.name } ) }}</h1>
    
    {{ form_start(edit_form) }}

    <p>{{ form_label(edit_form.name) }} {{ form_widget(edit_form.name) }}</p>
    
    {{ form_end(edit_form) }}
    
    {% for role_scope in entity.getRoleScopes %}
        <ul>
            <li>
                <span class="role_scope role">{{ role_scope.role|trans }}</span> - 
                <span class="role_scope scope">{{ role_scope.scope.name|localize_translatable_string }}</span>
                {{ form(delete_role_scopes_form[role_scope.id]) }}
            </li>
        </ul>
        
    {% endfor %}
    
    {{ form(add_role_scopes_form) }}

    
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_permissionsgroup') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
