{% extends 'ChillMainBundle::layout.html.twig' %}

{% block title %}{{ 'User edit'|trans }}{% endblock %}

{% block content -%}
    <h1>{{ 'User edit'|trans }}</h1>

    {{ form_start(edit_form) }}
    
    {{ form_row(edit_form.username) }}
    {{ form_row(edit_form.enabled) }}
    
    {{ form_row(edit_form.submit) }} <a href="{{ path('admin_user_edit_password',  { 'id' : entity.id }) }}">{{ 'Edit password'|trans }}</a>
    
    {{ form_end(edit_form) }}
    
    {% if entity.groupcenters|length > 0 %}
        <ul>
        {% for groupcenter in entity.groupcenters %}
            <li>
                <span class="user_group permissionsgroup">
                    {{ groupcenter.permissionsgroup.name }}
                </span>
                <span class="user_group center">
                    {{ groupcenter.center.name }}
                </span>
                {{ form(delete_groupcenter_form[groupcenter.id]) }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {{ form(add_groupcenter_form) }}
    
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
