{% extends 'ChillMainBundle::layout.html.twig' %}

{% block title %}{{ 'user list'|trans|capitalize }}{% endblock %}

{% block content -%}
    <h1>{{ 'user list'|trans|capitalize }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Username'|trans|capitalize }}</th>
                <th>{{ 'Actions'|trans|capitalize }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{% if entity.isEnabled == false %}user-disabled{% else %}user-enabled{% endif %}" >
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">
                {{ 'Add a new user'|trans|capitalize  }}
            </a>
        </li>
    </ul>
{% endblock content %}
