{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS, 
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<li class="nav-link more">
	<a href="javascript:void(0)">
		{{ 'Welcome' | trans }}
		<b>{{ app.user.username }}</b>
	</a>
    <ul class="submenu width-11-em">
        {% for route in routes %}
            <li><a href="{{ path(route.key, args ) }}"><i class="fa fa-{{ route.icon }}"></i> {{ route.label|trans }}</a></li>
        {% endfor %}
    </ul>
</li>