{% extends 'ChillMainBundle::Admin/layout_permissions.html.twig' %}

{% block title %}{{ 'Center list'|trans }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'Center list'|trans }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_center_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_center_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_center_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_center_new') }}">
                {{ 'Create a new center'|trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
