{% extends 'ChillMainBundle::layout.html.twig' %}

{% block title %}{{ 'Center creation'|trans }}{% endblock %}

{% block content -%}
    <h1>{{ 'Center creation'|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
